<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body ng-controller="myCtrl">
    <div class="main">
      <div class="heading">
        <center>Form Updation using Angular Js</center>
      </div>
      <div class="form-section">
        <form class="form" name="RegForm" ng-submit="submit()" novalidate>
          <input
            type="text"
            placeholder="Enter fullname"
            name="fullname"
            ng-minlength="3"
            ng-model="user.fullname"
            required
          />
          <span
            class="error"
            ng-show="RegForm.fullname.$touched && RegForm.fullname.$invalid"
            >Altleast 3 characters required</span
          >
          <input
            type="email"
            placeholder="Enter Email"
            name="email"
            ng-model="user.email"
            required
          />
          <span
            class="error"
            ng-show="RegForm.email.$touched && RegForm.email.$invalid"
            >Email Format is invalid.</span
          >
          <input
            type="number"
            placeholder="Enter Phone Number"
            name="phone"
            ng-model="user.phone"
            ng-pattern="/^[0-9]{10}$/"
            required
          />
          <span
            class="error"
            ng-show="RegForm.phone.$touched && RegForm.phone.$invalid"
            >Phone Number upto 10 digits allowed</span
          >
          <input
            type="password"
            placeholder="Enter Password"
            ng-model="user.password"
            name="password"
            ng-minlength="8"
          />
          <span
            class="error"
            ng-show="RegForm.password.$touched && RegForm.password.$invalid"
            >Minimum 8 characters required</span
          >

          <div class="gender-class">
            <label class="gender-label">Gender:</label>

            <div class="gen">
              <label class="radio-option">
                <input
                  type="radio"
                  name="gender"
                  value="male"
                  ng-model="user.gender"
                  required
                />
                Male
              </label>

              <label class="radio-option">
                <input
                  type="radio"
                  name="gender"
                  value="female"
                  ng-model="user.gender"
                />
                Female
              </label>
            </div>
          </div>
          <div class="dropdown">
            <label> Course: </label>
            <select name="course" ng-model="user.course" required>
              <option>FYCS</option>
              <option>SYCS</option>
              <option>TYCS</option>
            </select>
            <span
              class="error"
              ng-show="RegForm.course.$touched && RegForm.course.$invalid"
              ng-model="user.course"
              required
              >Select Course</span
            >
          </div>
          <textarea
            placeholder="Enter address"
            name="address"
            ng-model="user.address"
            ng-minlength="20"
            required
          ></textarea>
          <span
            class="error"
            ng-show="RegForm.address.$touched && RegForm.address.$invalid"
            >Minimum 20 charcters required</span
          >

          <button class="button">Submit</button>
          <p class="error" ng-show="RegForm.$submitted && RegForm.$invalid">
            All fields are required and must be valid.
          </p>
          <h1 class="success" ng-show="success">Registered Successfully.</h1>
        </form>
      </div>
    </div>
    <script>
      angular
        .module("myApp", [])
        .controller("myCtrl", function ($scope, $http) {
          $scope.user = {};
          $scope.currentUserEmail = localStorage.getItem("currentUserEmail");
           const params=new URLSearchParams(window.location.search)
            const id=params.get("id");
            console.log(id)
          $scope.get_data = function () {
            $http.get(`https://angularjs-crud-operation.onrender.com/form/get/${id}`, {
              headers: {
                "x-user-email": $scope.currentUserEmail || "",
              },
            })
              .then((res) => {
                console.log(res.data.get_user_data);
                $scope.user = res.data.get_user_data;
                $scope.user.password = "";
              })
              .catch((err) => {
                console.log(err.data);
              });
              
          };
          $scope.get_data();
          $scope.submit = function () {
            if ($scope.RegForm.$valid) {
              console.log("User Data - ", $scope.user);
              $http.put(`https://angularjs-crud-operation.onrender.com/form/update-form/${id}`, $scope.user, {
                headers: {
                  "x-user-email": $scope.currentUserEmail || "",
                },
              })
                .then(function (res) {
                  alert(res.data.msg);
                  window.location.href = "view_data.html";
                //   $scope.user = {};
                //   $scope.success = true;

                  $scope.RegForm.$setPristine();
                  $scope.RegForm.$setUntouched();
                })
                .catch((err) => {
                  alert(err?.data?.msg || "Something went wrong");
                });
            }
          };
        });
    </script>
  </body>
</html>
